h07174
s 00000/00000/00078
d D 1.6 01/04/09 10:26:54 staelin 9 6
i 7 8
c Auto merged
cC
cHhpli12.hpli.hpl.hp.com
cK42912
cM8
cZ+03:00
e
s 00005/00000/00073
d D 1.4.1.2 01/02/07 12:28:57 staelin 8 7
c - Add a description to the BitKeeper config file
cC
cK42912
e
s 00000/00004/00073
d D 1.4.1.1 01/02/07 12:13:14 staelin 7 5
c Auto convert
cHhpli8.hpli.hpl.hp.com
cK35250
cZ+02:00
e
s 00000/00004/00073
d D 1.5 01/01/26 22:11:53 lm 6 5
c Auto convert
cC
cHwork.bitmover.com
cK35250
cZ-08:00
e
s 00001/00000/00076
d D 1.4 00/02/28 17:01:50 brucec 5 4
c logging_ok:brucec@rx7
cC
cHrx7
cK45654
cZ-05:00
e
s 00001/00000/00075
d D 1.3 00/02/02 09:58:07 staelin 4 3
c logging_ok:staelin@hpli8.hpli.hpl.hp.com
cC
cHhpli8.hpli.hpl.hp.com
cK43540
cZ+02:00
e
s 00001/00000/00074
d D 1.2 00/01/31 16:29:31 lm 3 2
c logging_ok:lm@lm.bitmover.com
cC
cK39634
e
s 00074/00000/00000
d D 1.1 00/01/31 14:55:54 lm 2 1
cC
cF1
cK36720
cO-rw-rw-r--
e
s 00000/00000/00000
d D 1.0 00/01/31 14:55:54 lm 1 0
c BitKeeper file /home/lm/lmbench.BK/BitKeeper/etc/config
cBlm@lm.bitmover.com|ChangeSet|20000131225335|47351|--LMBENCH--
cHlm.bitmover.com
cK14900
cPBitKeeper/etc/config
cRb315f4732d73103
cV4
cX0x21
cZ-08:00
e
u
U
f e 0
f x 0x21
t
T
I 2
# This is the BitKeeper configuration file.
# %W% %@%
#
# It defines the contact information for the responsible party for this
# project.  This information is used by BitKeeper to provide support to
# BitKeeper users.  Please take a minute to fill it out carefully, it
# needs to be accurate.

I 8
#
# Name of the project, such as "BitKeeper" or "The GNU C compiler".
#
description: lmbench

E 8
# Enabling / disabling logging.  BitKeeper can maintain a log of your
# change comments (not your source, just the comments) on a centralized
# server.  This is useful as your project grows, it gives people a place
# to go see what is happening on a per project basis.  This is especially
# useful for distributed developers.
#
# Since it is also possible you do not want logging, that you would prefer to
# keep your changes private, we do not enable this by default (though we will
# ask when you make your first changeset).
#
# To enable logging, uncomment the field below:

D 6
D 7
logging_ok:	yes
E 7
E 6

# Open Logging server.  This site is where users can go to see the changelog
# comments for all instances of this repository.
# If this repository is non commercial, i.e. BitKeeper is being used for
# free, the site must be in the openlogging.org domain, otherwise it can
# be an internal site.
# Anyone may apply for an alias (CNAME) in the openlogging.org domain
# if they are willing to maintain a BitKeeper Open Logging web server.
# linux.openlogging.org could host the Linux kernel effort, for example.

logging:	logging@openlogging.org
I 5
D 6
D 7
logging_ok:	brucec@rx7
E 5
I 4
logging_ok:	staelin@hpli8.hpli.hpl.hp.com
E 4
I 3
logging_ok:	lm@lm.bitmover.com
E 7
E 6
E 3

# Commercial seats.  If the logging field is *.openlogging.org, then this
# field is ignored.  If the previous field is some internal site, such as
# bitkeeper.mycompany.com, then this file is included in diagnostic messages
# sent back to bitkeeper.com.  The value of this field determines the number
# of users which can work on the repository within a 6 month period.
# It's an upper bound on the number of users allowed in the repository,
# which determines the price which your company will be billed for the
# use of BitKeeper.  This field allows management to limit the number of
# seats in use.  A "seat" is a user.

seats:		0

# Security of diagnostic messages.  BitKeeper sends periodic
# status back to BitKeeper.com.  This information is used as part of
# the support process, i.e., if you are using an older version of
# BitKeeper, we'll let you know automatically when an update is available.
#
# Commercial customers can arrange for greater levels of security
# the diagnostics sent back to BitMover, Inc.  Contact your sales
# representative for assistance.
#
# Note: BitMover does not and will not make any information gathered through
# this mechanism available to the public.  The information is used solely
# by BitMover for support and will not be disclosed, forwarded, or sold
# to any third party for any purpose.
#
# Values for this field are currently "none" or "ssh".  The "ssh" field
# requires that ssh is installed in order to operate and you must have
# prearranged for high security support service.

security:	none

# Contact person for this project.  This is whoever is the person that
# should be contacted with update information or contacted if BitKeeper
# discovers a problem which requires local intervention.  Please make the
# contact information accurate so we can support you.

contact:	Larry McVoy

# Preferred email for the contact
email:		lm@bitmover.com
E 2
I 1
E 1
